using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;


/* Forms */ 
fieldset label
{
display:block;
padding:4px;
}

input[type="text"],input[type="password"]
{
width:300px;
}

input[type="submit"]
{
padding:4px;
}